<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="footer-copyright">
                <p>@ 2025<a href="#">Betovaz</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="footer-menu text-end">
                <ul>
                    <li>
                        <a href="#">Acerca de</a>
                    </li>
                    <li>
                        <a href="#">Equipo</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
